<div class="item {{'input-error' if error}}">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="http://..."
      value="{{ teacher.avatar_url }}"
    >
  </div>
</div>

<div class="item {{'input-error' if error}}">
  <div>Teacher</div>
  <div>
    <input 
      type="text" 
      name="name" 
      placeholder="Please, type your name"
      value="{{ teacher.name }}"
    >
  </div>
</div>
<div class="item {{'input-error' if error}}">
  <div>Date of birth</div>
  <div>
    <input 
      type="date" 
      name="birth"
      value="{{ teacher.birth }}"
    >
  </div>
</div>
<div class="item {{'input-error' if error}}">
  <div>Level Education</div>
  <div>
    <select name="graduation">
      <option value="" hidden>Select...</option>
      <option value="Hs" {% if teacher.graduation == "Hs" %}selected{% endif %}>
        High school
      </option>
      <option value="Cl" {% if teacher.graduation == "Cl" %}selected{% endif %}>
        Associate's Degree
      </option>
      <option value="Un" {% if teacher.graduation == "Un" %}selected{% endif %}>
        Bachelor's Degree
      </option>
      <option value="Ma" {% if teacher.graduation == "Ma" %}selected{% endif %}>
        Master's
      </option>
      <option value="PHD" {% if teacher.graduation == "PHD" %}selected{% endif %}>
        Doctorate
      </option>
    </select>
  </div>
</div>
<div class="item {{'input-error' if error}}">
  <div>Type Class</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="class_type" 
        value="IP" 
        {% if not teacher.class_type %}
          checked
        {% else %}
          {% if teacher.class_type == "IP" %}checked{% endif %}
        {% endif %}
      >
      In Person
    </span>
    <span>
      <input 
        type="radio" 
        name="class_type" 
        value="EL"
        {% if teacher.class_type == "EL" %}
          checked
        {% endif %}
      >
      E-learning
    </span>
  </div>
</div>
<div class="item {{'input-error' if error}}">
  <div>Expertise</div>
  <div>
    <input 
      type="text" 
      name="expertise" 
      placeholder="Please, separate your expertise by a comma"
      value="{{ teacher.expertise }}"
    >
  </div>
</div>

<button type="submit">
  Save
  <span class="material-icons">
    save
  </span>
</button>